* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Times New Roman", serif;
}


.background {
    position: fixed;
    inset: 0;
    background:
    linear-gradient(
        135deg,
        #ffffff,
        #f8eaff,
        #e8ddff
    );
    z-index: -1;
}


.top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logo {
    font-size: 70px;
    letter-spacing: 8px;
    color: #b49ad8;

    text-shadow:
    0 0 10px white,
    0 0 20px #d8baff;

}


.subtitle {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 5px;
    color: #777;
}


.enter {

    margin-top: 60px;

    padding: 18px 70px;

    border-radius: 50px;

    text-decoration: none;

    color: white;

    background:
    linear-gradient(
        135deg,
        #d8c1ff,
        #b89ae8
    );


    box-shadow:
    0 10px 30px #cbb3ee;


    letter-spacing: 5px;

    transition: 0.3s;

}


.enter:hover {

    transform: scale(1.1);

}


.decor {

    position: absolute;

    color: white;

    font-size: 50px;

}


.ribbon {

    top: 20%;

    left: 20%;

}


.wing {

    bottom: 20%;

    right: 20%;

}
